<div class="text-overlay" id="choice-2">
  <div class="bg">
    <img src="assets/images/somewhere-1920-bw-neg50-flipped.jpg" />
    <div class="container">
    <div class="caption">
      <table style="width: 100%;"><tbody><tr>
        <td style="width: 50%;"><h2>Jen<br />Schultz</h2>
</td>
        <td style="padding: 0 0.7em;"><h2>&amp;</h2>
</td>
        <td style="width: 50%;"><h2>Sam<br />Rawlins</h2>
</td>
      </tr>
</tbody>
</table>
    </div>
    <div class="caption">
      <h2><em>are getting</em>
<br />Married!</h2>
    </div>
    </div>
  </div>
</div>
<div class="p">
  <p>Jen Schultz and Sam Rawlins are getting married January 4, 2014. Be excited.</p>
</div>
