<h2>Details</h2>
<div class="container" id="details">
  <div class="row">
    <div class="span3">Where?</div>
    <div class="span3">Tucson, AZ</div>
    <div class="span6">
  {% include my_hipmunk_form.html %}
    </div>
  </div>
  <div class="row">
    <div class="span3">When?</div>
    <div class="span9">Saturday, January 4, 2014<br />at 1:00 in the afternoon</div>
  </div>
  <div class="row">
    <div class="span3">Hotel?</div>
    <div class="span9">We have a block of discounted rooms at the Something or Other Hotel</div>
  </div>
</div>
