<h2>Details</h2>
<div class="container" id="details">
  <div class="row">
    <div class="span3">When?</div>
    <div class="span9">Saturday, January 4, 2014<br />at 1:00 in the afternoon</div>
  </div>
  <div class="row">
    <div class="span3">Where?</div>
    <div class="span9">
      <p>
      The Episcopal Parish <span class="cur" style="padding: 0 8px 0 4px;">of</span> St. Michael <span class="cur">and</span> All Angels
      </p>
      <p>
      <span class="cur" style="padding-right: 7px;">located at</span><br />
      602 N. Wilmot Rd., Tucson, AZ 85711
      <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=602+N+Wilmot+Rd,+Tucson,+AZ&aq=0&oq=602+n+wilmo&sll=37.397161,-122.024121&sspn=0.169651,0.291481&vpsrc=0&t=h&ie=UTF8&hq=&hnear=602+N+Wilmot+Rd,+Tucson,+Pima,+Arizona+85711&z=16" target="_blank" class="cur">(map)<sup>&#8599;</sup></a>
      </p>
      <div class="span6 pull-right">
        {% include my_hipmunk_form.html %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">Hotel?</div>
    <div class="span9">
      <div class="p">
        <p>
        We have a block of discounted rooms at the
        <a href="http://viscountsuite.com/">Viscount Suite Hotel</a> for the
        nights of Jan 3, Jan 4, and Jan 5. There are two options: the Deluxe
        Suite and the Premier Suite, discounted to $85/night and $95/night
        respectively.
        </p>
        <p>
        Please book soon! The reservations number is 1-800-527-9666. Use the
        "Rawlins / Schultz Wedding" block for the discount!
        </p>
        <p>
        We also highly recommend
        <a href="https://www.airbnb.com/"><img src="assets/images/airbnb-transparent.png" style="height: 1.5em; margin-top: -0.2em;" /></a>!
        We have had a great experience, and there are <a href="https://www.airbnb.com/s/Tucson--AZ?checkin=01%2F03%2F2014&checkout=01%2F05%2F2014&guests=2">many places</a> available!
        </p>
      </div>
    </div>
  </div>
</div>
