<div id="flight-search" class="flight-search frontbox searchbox version2 blue-border expanded"><div class="search-form-wrapper"><form action="http://hipmunk.com/search/flight" method="post" class="search-form form-flight" id="flight">
  <!--<input type="text" name="from0" value="PHX"></input>
  <input type="text" name="to0" value="TUS"></input>-->
  <div class="row">
    <div class="full-row locs ">
      <div class="input-row">
        <label for="fac1flight">From</label>
        <div class="input-container">
          <input id="fac1flight" name="from0" autocomplete="off" type="text" class=" field-from0 autocomplete routelang ac_id-acfac1flight">
          <label for="fac1flight" style="display: none;" class="">City or Airport</label>
          <div class="error-row error error-from0"></div>
          <div class="up"></div>
        </div>
        <div class="drop-row">
          <ul id="acfac1flight" class="front-ac-drop version2 ac-drop ">
            <li class="ac-row stub">trst</li>
            <li class="ac-table stub"><table cellspacing="0"><tbody></tbody></table></li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="full-row locs "><div class="input-row"><label for="fac2flight">To</label><div class="input-container"><input id="fac2flight" name="to0" autocomplete="off" type="text" class=" field-to0 autocomplete routelang ac_id-acfac2flight"><label for="fac2flight" style="display: none;">City or Airport</label><div class="error-row error error-to0"></div><div class="up"></div></div><div class="drop-row"><ul id="acfac2flight" class="front-ac-drop version2 ac-drop "><li class="ac-row stub">trst</li><li class="ac-table stub"><table cellspacing="0"><tbody></tbody></table></li></ul></div></div><div class="clear"></div></div>
  </div>
  <!--<input type="text" name="date0" value="Jan 3"></input>
  <input type="text" name="date1" value="Jan 5"</input>
  <input type="submit"></input>-->
</form></div></div>
