<h2>Our Story</h2>
<div class="p">
  <p>Both of us were living in Tucson, AZ when Jen's friend, Mandy, and
  Sam's friend, Colleen, began plotting to set us up. Neither of us wanted to
  be "set up" with anyone! That idea just sounded horrible. But Mandy and
  Colleen knew they had to get us together. They each tiptoed around the
  subject with their respective charges, not wanting to scare either of us
  away! Finally, Colleen had a free weekend, zooming down to Tucson one Friday
  night, and meeting us both for Indian food (the delicious meal may have
  contributed to the good vibes going on!). We all went out to a movie, and met
  up the next morning for Chicken &amp; Waffles, again delicious!</p>

  <p>After that first weekend, Sam called up Jen, suggesting we go hunting for
  good Japanese food in the city, because Jen wasn't convinced that there was
  any to be had. So for our first date (there was no fooling anyone), he took
  her to Yoshimatsu (we've been back about a hundred times since).</p>

  <p>We were off to the races! Our relationship took us so many places, and
  we're not slowing down yet! Scuba diving in Mexico and Hawai'i, relaxing at
  the beach in Rocky Point, visiting friends and family in Berkeley, San
  Francisco, Los Angeles, Phoenix, Montana, and Oahu, scoping out Physical
  Therapy schools in Flagstaff and Denver, hiking in the better part of
  Southern Arizona, Sedona, some of Hawai'i (but not enough!), the Rocky
  Mountains, Glacier and Zion national parks, the Bay Area, the Phoenix Area,
  ... I hope I haven't missed anything!</p>
</div>
