<h2>Registry</h2>
<div class="p">
  <div>
  OK, our registry is going to be a little bit different. We hope it's not too
  wild or confusing!
  <br /><br />

  <span class="first-letter">W</span>e have both been living on our own for a while now, so we're pretty set on
  housewares and appliances. Our biggest struggle in the first year of our
  marriage will of course be living apart, Jen in Physical Therapy school in
  Phoenix, and Sam in the Bay Area. In that light, we created a registry at
  <a class="myregistry" href="http://www.myregistry.com/">
    <span style="color: #F26822; font-weight: bold;">my</span><span style="color: #515151; font-weight: bold;">registry.com</span></a>
  (which we highly recommend!) with a focus on having a good time in Phoenix
  and in the Bay Area, until Jen finishes school!
  <br /><br />

  <div style="text-align: center;">
    <a class="our-registry" href="http://www.myregistry.com/public/Jen-Schultz-Sam-Rawlins">
      <span class="first-letter">J</span>en and <span class="first-letter">S</span>am's <span class="first-letter">W</span>edding <span class="first-letter">R</span>egistry<span class="first-letter">!</span></a>
  </div>
  <br /><br />

  <span class="first-letter">I</span>f you would like to help us with a gift to
  keep our sanity while living apart for another year, our registry can
  definitely help you out. We have a few themes, like:
  <br /><br />

  <ul>
    <li>Camping and backpacking supplies from REI</li>
    <li>Restaurants in Phoenix and the Bay Area (and most of you know: we'll
      eat just about anything!)</li>
    <li>Fitness supplies</li>
    <li>and other fun goodies!</li>
  </ul>
  <br />

  <span class="first-letter">M</span>any of the gifts can be bought offline and then just marked as "purchased"
  in the registry. It should be pretty easy, and let us know if you have any
  questions!
  </div>
</div>
