<form action="https://docs.google.com/forms/d/1989jtYwZPKI8CajP8Kt6v5kvQS9LgCNryuBGZzIYxpw/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
  <div class="errorbox-good">
    <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1738761232"><div class="ss-q-title">Your Name
            <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
            <span class="ss-required-asterisk">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
        <input type="text" name="entry.1738761232" value="" class="ss-q-short" id="entry_1738761232" dir="auto" aria-required="true">
        </div></div></div> <div class="errorbox-good">
    <div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1814271362"><div class="ss-q-title">Are you able to attend?
            <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
            <span class="ss-required-asterisk">*</span>
          </div>
          <div class="ss-q-help ss-secondary-text" dir="ltr">Once again, the wedding is on January 4, in Tucson, AZ, at 1pm</div></label>
        <ul class="ss-choices"><li class="ss-choice-item"><label><input type="radio" name="entry.683012255" value="Absolutely!" id="group_683012255_1" class="ss-q-radio" aria-label="Absolutely!">
<span class="ss-choice-label">Absolutely!</span></label></li> <li class="ss-choice-item"><label><input type="radio" name="entry.683012255" value="Reeeally wanted to, but no, I cannot :(" id="group_683012255_2" class="ss-q-radio" aria-label="Reeeally wanted to, but no, I cannot :(">
<span class="ss-choice-label">Reeeally wanted to, but no, I cannot :(</span></label></li></ul></div></div></div> <div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1202269033"><div class="ss-q-title">Email Address
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr">Not necessary, but we'll be sending out updates.</div></label>
<div class="ss-q-help ss-secondary-text" dir="ltr">(separate with commas if you are listing more than one)</div></label>
<input type="text" name="entry.1202269033" value="" class="ss-q-short input-xlarge" id="entry_1202269033" dir="auto">
</div></div></div> <div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1573447514"><div class="ss-q-title">Who else are you bringing?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr">Any +1s, young 'uns, etc?</div></label>
<input type="text" name="entry.1573447514" value="" class="ss-q-short input-xlarge" id="entry_1573447514" dir="auto">
</div></div></div> <div class="errorbox-good">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1247656243"><div class="ss-q-title">Need help with Tucson?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr">We can email you with updates re: places to stay, and things to do!</div></label>
<ul class="ss-choices"><li class="ss-choice-item"><label><input type="radio" name="entry.1445887065" value="Yes, please!" id="group_1445887065_1" class="ss-q-radio" aria-label="Yes, please!">
<span class="ss-choice-label">Yes, please!</span></label></li> <li class="ss-choice-item"><label><input type="radio" name="entry.1445887065" value="No thanks!" id="group_1445887065_2" class="ss-q-radio" aria-label="No thanks!">
<span class="ss-choice-label">No thanks!</span></label></li></ul></div></div></div>
<input type="hidden" name="draftResponse" value="[]
">
<input type="hidden" name="pageHistory" value="0">


  <div class="ss-item ss-navigate">
    <div class="ss-form-entry">
      <input type="submit" name="submit" value="Submit" id="ss-submit">
<!-- <div class="ss-secondary-text">Never submit passwords through Google Forms.</div> -->
    </div>
  </div>
</form>
