/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require bootstrap-datetimepicker.min
 *= require_self
 *= require_tree .
 */
body {
  background-color: #00999a;
  padding: 0;
  /* overriding bootstrap */ }

body > .container-fluid {
  padding: 0;
  /* overriding bootstrap */ }

h1 {
  display: none; }

h2 {
  color: #001a1a;
  font-family: 'Neuton', serif;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 0 30px;
  text-align: center;
  text-shadow: 1px 1px 2px #1affff;
  text-transform: uppercase; }

h3 {
  color: #004d4d;
  font-family: 'Miss Fajardose', cursive;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
  opacity: 0.5;
  text-shadow: 1px 1px 1px #00e6e6; }

iframe {
  display: block;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }

.well {
  background-color: #dcf5f5;
  /* overriding bootstrap */ }

div.p {
  max-width: 750px;
  margin: 0 auto; }
  div.p p {
    background-color: rgba(255, 255, 255, 0.35);
    border: solid 1px #004d4d;
    border-radius: 8px;
    border-top-left-radius: 0;
    box-shadow: 8px 8px 8px;
    color: #003334;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 24px;
    margin: 18px 0 28px;
    padding: 20px 6px 3px; }
    div.p p strong, div.p p em {
      color: black; }
    div.p p:first-letter {
      color: black;
      font-family: 'Tangerine', cursive;
      font-size: 3em;
      letter-spacing: 3px;
      text-shadow: 1px 1px 1px #00dcdc; }
    div.p p:first-line {
      line-height: 24px; }

.container-fluid > section > section {
  padding-bottom: 100px; }

.navbar .btn-navbar {
  background-color: #fa89bd;
  background-image: -moz-linear-gradient(top, #f52887, #fa89bd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f52887), to(#fa89bd));
  background-image: -webkit-linear-gradient(top, #f52887, #fa89bd);
  background-image: -o-linear-gradient(top, #f52887, #fa89bd);
  background-image: linear-gradient(to bottom, #f52887, #fa89bd); }
  .navbar .btn-navbar:hover {
    background-color: #fa89bd; }

.navbar-inner {
  background-image: none;
  background-color: rgba(250, 137, 189, 0.6); }
  .navbar-inner .brand {
    color: yellow;
    font-family: cursive;
    font-size: 24px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #333300; }
  .navbar-inner .nav > li > a {
    color: #1d010e;
    /* approximately black */
    font-family: 'Tangerine', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 32px;
    padding: 4px 15px 4px;
    text-shadow: none; }
  .navbar-inner .nav > li > a:hover {
    color: yellow;
    text-shadow: 1px 2px 1px black; }
  .navbar-inner .nav > li.active > a,
  .navbar-inner .nav > li.active > a:hover {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: yellow;
    text-shadow: 1px 2px 1px black; }
  .navbar-inner .nav-collapse.in {
    background-color: rgba(250, 137, 189, 0.5); }

a, a:active, a:visited {
  color: #006667; }
  a sup, a:active sup, a:visited sup {
    font-size: 0.45em;
    font-weight: bold;
    padding-left: 2px; }

a:hover {
  color: white;
  text-decoration: none; }

section#announcement {
  position: relative; }
  section#announcement .text-overlay {
    /* inspired by carousel-inner */
    position: relative;
    width: 100%;
    overflow: hidden; }
    section#announcement .text-overlay .bg {
      /* inspired by .item */
      position: relative; }
      section#announcement .text-overlay .bg img {
        display: block;
        line-height: 1; }
      section#announcement .text-overlay .bg .caption:first-child {
        /* inspired by carousel-caption */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 40px 15px 15px 15px; }
        section#announcement .text-overlay .bg .caption:first-child h2 {
          color: #000000;
          font-style: normal;
          padding-top: 0;
          text-shadow: 1px 1px 1px #f52887; }
      section#announcement .text-overlay .bg .caption:last-child {
        /* inspired by carousel-caption */
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px; }
        section#announcement .text-overlay .bg .caption:last-child h2 {
          font-style: normal;
          margin-bottom: 0; }
        section#announcement .text-overlay .bg .caption:last-child h2 em {
          font-size: 0.6em;
          font-weight: normal;
          line-height: 0.6em;
          text-transform: lowercase;
          text-shadow: 1px 1px 1px #de3f89; }
  section#announcement .text-overlay#choice-2 .bg .caption h2 {
    color: #00cccc;
    text-shadow: 2px 2px 1px #de3f89; }

section#rsvp div.rsvp-header {
  position: relative;
  margin: 0 0 30px;
  padding-top: 40px; }
  section#rsvp div.rsvp-header h2 {
    margin: 0;
    padding: 0; }
  section#rsvp div.rsvp-header h3 {
    color: #fa89bd;
    position: absolute;
    bottom: 0;
    right: 0;
    text-shadow: 1px 1px 1px #7e063e; }

.pink {
  background-color: ivory;
  padding-top: 18px;
  padding-bottom: 28px; }
  .pink > .container {
    background-color: white;
    border: solid 1px #fa89bd;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #ffb7d8;
    margin-top: 18px;
    margin-bottom: 28px; }
  .pink h2 {
    color: #fa89bd;
    text-shadow: 1px 1px 1px #e00a6d; }
  .pink div.p p {
    background-color: white;
    border: solid 1px #fa89bd;
    box-shadow: 5px 5px 8px #ffb7d8;
    color: #e25496; }
    .pink div.p p strong, .pink div.p p em {
      color: black; }
    .pink div.p p:first-letter {
      color: #f179b0;
      text-shadow: 1px 1px 1px #ea006c; }

.ui-menu-item {
  font-size: 0.7em; }

#details {
  color: #001a1a;
  font-family: 'Neuton', serif;
  font-size: 1.6em;
  line-height: 1; }
  #details > div.row {
    margin-bottom: 20px; }
  #details > .row > div:first-child {
    color: #333333;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-align: right;
    text-shadow: 1px 1px 2px #1AFFFF; }
  #details form {
    background-color: white;
    border: solid 1px #16629e;
    border-radius: 12px;
    box-shadow: 4px 7px 7px #218BE0;
    font-family: 'Open Sans';
    opacity: 0.5;
    padding: 10px;
    transition: opacity 1s;
    /* bootstrap stuff overridden by google form */ }
    #details form:hover {
      opacity: 1.0;
      transition: opacity 0.8s; }
    #details form.hover {
      opacity: 1.0;
      transition: opacity 0.5s; }
    #details form > div {
      font-size: 0.56em; }
    #details form p.header {
      font-family: 'Open Sans';
      font-size: 1.3em;
      margin-left: -20px;
      text-align: center; }
      #details form p.header strong {
        color: #218BE0; }
    #details form label {
      display: block;
      margin-bottom: 0px;
      /* overriding bootstrap */ }
  #details .smaller {
    font-size: 0.8em; }

.cur {
  font-family: 'Tangerine', cursive;
  font-weight: bold; }

#gallery div.container {
  text-align: center; }
  #gallery div.container img {
    max-height: 150px; }
#gallery h3 {
  font-family: 'Open Sans';
  font-size: 2em; }

/* Large desktop */
@media (min-width: 980px) {
  h2 {
    font-size: 92px;
    line-height: 108px;
    padding-top: 40px; }

  section#rsvp div.rsvp-header {
    height: 108px; }

  .text-overlay h2 {
    font-size: 84px;
    line-height: 96px; }

  .text-overlay .caption:last-child h2 {
    font-size: 112px;
    line-height: 140px; }

  h3 {
    font-size: 40px;
    line-height: 40px; } }
@media (min-width: 768px) {
  .form-horizontal .control-group {
    margin-bottom: 0; }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left; }
  .form-horizontal .controls {
    margin-left: 0; } }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  h2 {
    font-size: 72px;
    line-height: 72px;
    padding-top: 40px; }

  section#rsvp div.rsvp-header {
    height: 72px; }

  .text-overlay h2 {
    font-size: 72px;
    line-height: 72px; }

  h3 {
    font-size: 34px;
    line-height: 34px; }

  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed; }
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
      padding: 0;
      /* overriding bootstrap... not sure why its necessary... */ } }
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0;
    /* overriding bootstrap... not sure why its necessary... */ }

  #details .form-horizontal label {
    display: inline; } }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-bottom: 0;
    margin-left: 0;
    /* overriding bootstrap... not sure why here... */
    margin-right: 0;
    /* overriding bootstrap... not sure why here... */
    position: fixed; }

  h2 {
    font-size: 60px;
    font-weight: bold;
    line-height: 72px;
    padding-top: 40px; }

  section#announcement .text-overlay#choice-2 .bg .caption h2 {
    text-shadow: 1px 1px 1px #de3f89; }

  section#rsvp div.rsvp-header {
    height: 60px; }

  #details > .row > div {
    text-align: right; }
    #details > .row > div p {
      padding-right: 4px; }
    #details > .row > div:first-child {
      text-align: left; }
      #details > .row > div:first-child p {
        padding-right: 0; }
    #details > .row > div form {
      text-align: left; }

  #gallery div.container img {
    max-height: 100px; }

  .text-overlay h2 {
    font-size: 40px;
    line-height: 42px; }

  h3 {
    font-size: 20px;
    line-height: 20px; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 54px;
    padding-top: 40px; }

  .text-overlay h2 {
    font-size: 30px;
    line-height: 30px; }

  h3 {
    font-size: 16px;
    line-height: 16px; }

  .form-horizontal {
    /* overriding bootstrap; my form is tiny and i want it horizontal even below 480px; */ }
    .form-horizontal .control-label {
      float: left;
      width: 160px;
      padding-top: 5px;
      text-align: right; }
    .form-horizontal .controls {
      margin-left: 180px; } }
.form-horizontal .input-small {
  width: 106px;
  /* overriding bootstrap */ }
.form-horizontal .input-mini {
  width: 80px;
  /* overriding bootstrap */ }
.form-horizontal .control-group:last-child .input-append {
  margin-bottom: 10px; }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .hide-under-768px {
    display: none !important; } }
