<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Neuton:400,700|Bitter:400,700|Merriweather:400,900">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Miss+Fajardose">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:400,500,400italic|Open+Sans:400italic,400,600">
    <link rel="stylesheet" href="assets/stylesheets/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="assets/stylesheets/blueimp-gallery.min.css">
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="stylesheet" href="assets/stylesheets/google-form.css">
    <!-- <link rel="stylesheet" href="assets/stylesheets/hipmunk.css"> -->

    <script src="assets/javascripts/jquery-1.8.3.min.js"></script>
    <!-- script src="assets/javascripts/jquery-1.10.1.min.js"></script -->
    <script src="assets/javascripts/jquery-ui.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
    <script src="assets/javascripts/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/javascripts/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="assets/javascripts/jquery.localscroll-1.2.7-min.js"></script>
    <script src="assets/javascripts/jquery.easing.1.3.js"></script>
    <script src="assets/javascripts/application.js"></script>

    <meta content="True" name="HandheldFriendly">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="container-fluid">
      <header id="header">
        {% include header.html %}
      </header>

      {{ content }}

      <footer>
        feet!
      </footer>
    </div>
    <script src="assets/javascripts/blueimp-gallery.min.js"></script>
  </body>
</html>
